button:focus {
  outline: 0px;
}

#grid button {
  border-radius: 8px;
  border-color: black;
  color:darkgray;

  width: 100%;
  height: 100%;
}

#grid td {
  height: 5vw;
}

#grid tr {
  height: 8vw;
}

#grid {
  padding-left: 20%;
  width: 80%;
}

#record-btn {
  width: 7vw;
  border-radius: 50% 0 0 50%;
  border: black 5%;
  height: 7vw;
}

#play-btn {
  width: 7vw;
  border-radius: 0 50% 50% 0;
  border: black 5%;
  height: 7vw;
}

#recordplay-btn-div {
  text-align: center;
  padding-bottom: 4%;
}

#container {
  padding-top: 2%;
}

.red {
  background-color: red;
}
